body {
    color:navy;
    background-color: skyblue;
}

.list {
    color: black;
    background-color: lightyellow;
    padding: 10px;
    border: 2px solid gold;
    max-width: 500px;
}

.dayNight {
    background-color: rgb(5, 5, 41);
    color: aliceblue;
}

button {
    color: black;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
    border: 2px solid gold;
    background-color: lightyellow;
    cursor: pointer;
}