body {
    color:navy;
    background-color: skyblue;
}

.list {
    color: rgb(128, 0, 32);
    background-color: rgb(245, 245, 175);
    padding: 10px;
    border: 2px solid rgb(128, 0, 32);
    max-width: 500px;
}

.nightTime {
    background-color: rgb(5, 5, 41);
    color: aliceblue;
}

.shop {
    font-size: 25px;
    cursor: pointer;
}